<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.tupple.trigger">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application>
        <service
            android:name=".TriggerService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>