<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.tupple.robot">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".KidRobotApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.ListYoutubeVideoActivity"
            android:screenOrientation="sensorLandscape"
            ></activity>
        <activity android:name=".activity.ListFilmsActivity"
            android:screenOrientation="sensorLandscape"
            />
        <activity android:name=".activity.ListAudioActivity"
            android:screenOrientation="sensorLandscape"
            />
        <activity
            android:name=".activity.YoutubeVideoPlayerActivity"
            android:screenOrientation="sensorLandscape" />
        <activity android:name=".activity.ConfigActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <receiver
            android:name=".receiver.TriggerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.tuple.trigger.ACTION_RECOGNIZE_DONE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.VideoPlayerActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FaceSmileActivity"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".activity.LessonActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.LearningVocabActivity"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.EnglishBookActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.TopicActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.EntertainmentActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".activity.TestVocabActivity"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".activity.SmartQAActivity"
            android:screenOrientation="sensorLandscape">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>